.App {
  text-align: center;
  grid-template-columns: 30px 30px 30px;
}

main {
  display: grid;
}

.stock {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.uid {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
